.bg-gray-primary {
  background-color: $bg-gray;
}

.sidebar {
  font-size: 0.8rem;
  @apply border-r border-gray-200;
}

// text and background colors for priority flags
.bg-High {
  background-color: #f96868;
}

.text-High {
  color: #fff;
}

.bg-Medium {
  background-color: #ffc252;
}

.bg-Low {
  background-color: #0eae0e;
}
