.bg-gray-primary {
  background-color: $bg-gray;
}

.sidebar {
  font-size: 0.8rem;
  @apply border-r border-gray-200;
}

// text and background colors for priority flags
.text-High {
  color: #f96868;
}

.text-Medium {
  color: #ffc252;
}

.text-Low {
  color: #0eae0e;
}
