@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'styles/variables';
@import 'styles/layout';
@import 'styles/loaders';

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: #333;
}

a {
  &:hover {
    text-decoration: none !important;
  }
}

p {
  @apply text-zinc-500;
}

.input-row {
  input {
    border: solid 1px #e4e4e4;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
